extends layout

block content
  .inner
    h2= title
    a.button(href=`/addstore` class="button") Add Store
    br
    a.button(href=`/additem` class="button") Add Item
    br
    a.button(href=`/addoffer` class="button") Add Offer

